<% include partials/header %>

<img class="camPic" id="resultsPageCamPic" src="/pics/Video-Camera-2-icon.png">

<div id="resultsContainer">

    <div id="moviePosterContainer">
        <img src= <%= data["Poster"] %> />
    </div>

    <div id="informationContainer">
        <h1><%= data["Title"] %></h1>
        <hr>
        <div id="movieInformation">
            <h2>Year: <%= data["Year"] %></h2>
            <h2>Rated: <%= data["Rated"] %></h2>
            <h2>Genre: <%= data["Genre"] %></h2>
            <h2>Plot: <%= data["Plot"] %></h2>
            <h3>Actors: <%= data["Actors"] %></h3>
        </div> <!-- END OF MOVIE INFORMATION CONTAINER -->
    </div> <!-- END OF INFORMATION CONTAINER -->

    </div> <!-- END OF RESULTS CONTAINER -->
<button id="searchAgain" onclick="location.href='/'" > Search Again <i class="fas fa-sync-alt"></i></button>


<% include partials/footer %>